/* line 2, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input {
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
}
/* line 7, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input select {
  width: 100%;
  padding: 10px;
  background: transparent;
}
/* line 11, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input select:hover {
  cursor: pointer;
}
/* line 14, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input input {
  outline: none;
  flex-grow: 1;
  padding: 10px;
  width: 100%;
}
/* line 20, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input label {
  font-size: 1.2rem;
  margin: 10px 0px;
}
/* line 23, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input textarea {
  height: 400px;
  resize: vertical;
  padding: 10px;
}
/* line 27, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input input, .input textarea, .input select {
  font-family: "Roboto";
  font-size: 1rem;
}
/* line 30, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.input input:focus, .input textarea:focus, .input select:focus {
  outline: 2px solid rgba(250, 0, 250, 0.1);
}

/* line 32, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.submit {
  text-align: center;
  margin-top: 50px;
}
/* line 36, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.submit input[type="submit"] {
  margin: 0 auto;
  padding: 10px 20px;
  background: white;
  color: rgba(150, 50, 150, 0.75);
  outline: 1px solid rgba(150, 50, 150, 0.35);
  font-size: 1.6rem;
  font-family: "Roboto";
  border: none;
  cursor: pointer;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
/* line 47, /home/enterteg/work/Blog/app/assets/stylesheets/forms.sass */
.submit input[type="submit"]:hover {
  color: white;
  background: rgba(200, 50, 200, 0.5);
}
/* line 3, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#new_post {
  max-width: 700px;
  margin: 60px auto 80px;
}
/* line 6, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#new_post ul.errors {
  color: red;
}

/* line 8, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.edit {
  margin-top: 20px;
  float: left;
}

/* line 11, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos {
  margin: 20px 0px;
  width: 100%;
  clear: both;
}
/* line 15, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos img {
  margin: 10px 0px 10px 0px;
  margin-right: 0.5%;
  width: 32%;
}
/* line 19, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos .image {
  position: relative;
  float: left;
  width: 24%;
  margin-right: 1%;
}
/* line 24, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos .image img {
  margin: 10px 0px 10px 0px;
  width: 100%;
}
/* line 27, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos .image a.destroy_photo {
  color: #999;
  text-decoration: none;
  text-align: center;
  line-height: 10px;
  font-family: arial;
  font-weight: bold;
  padding: 3px;
  opacity: 0.5;
  right: 5px;
  top: 15px;
  position: absolute;
  display: block;
  width: 12px;
  height: 12px;
  background: white;
  outline: 1px solid rgba(0, 0, 0, 0.7);
  z-index: 10;
}
/* line 45, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos .image a.destroy_photo:hover {
  opacity: 0.8;
  cursor: pointer;
}
/* line 48, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos.mini {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 20;
}
/* line 53, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos.mini a {
  width: 24.3%;
}
/* line 55, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.photos.mini img {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  width: 100%;
}

/* line 60, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section {
  margin: 80px 0px 200px;
  z-index: -20;
}
/* line 63, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section article.about {
  max-width: 80%;
  margin: 0 auto;
}
/* line 66, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section article.about .desc {
  padding: 30px;
  font-size: 1.3rem;
}
/* line 69, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post {
  max-width: 700px;
  margin: 50px auto 80px;
  font-family: "Raleway";
  position: relative;
}
/* line 74, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample {
  padding: 35px 65px 25px;
  max-width: 620px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.05);
  z-index: 10;
}
/* line 79, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample:after {
  z-index: -1;
  right: -50px;
  top: -50px;
  content: "";
  width: 100px;
  height: 100px;
  background: white;
  position: absolute;
}
/* line 88, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample:before {
  content: "";
  position: absolute;
  top: -1;
  right: -1;
  border-width: 0 50px 50px 0;
  border-style: solid;
  border-color: rgba(121, 203, 250, 0.65) white;
}
/* line 96, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample.travels {
  outline: 1px dashed rgba(0, 253, 150, 0.65);
}
/* line 98, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample.travels:before {
  border-color: rgba(0, 253, 150, 0.65) white;
}
/* line 100, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample.food {
  outline: 1px dashed rgba(250, 53, 250, 0.65);
}
/* line 102, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample.food:before {
  border-color: rgba(250, 53, 250, 0.65) white;
}
/* line 104, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample.life {
  outline: 1px dashed rgba(250, 150, 100, 0.65);
}
/* line 106, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post.sample.life:before {
  border-color: rgba(250, 0, 100, 0.65) white;
}
/* line 110, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post header {
  line-height: 1.5;
  padding: 10px 5px 10px 5px;
  font-size: 2.1rem;
}
/* line 114, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post header.sample {
  font-size: 1.8rem;
  line-height: 1.2;
}
/* line 119, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post footer {
  font-size: 0.9rem;
  line-height: 2;
}
/* line 122, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post footer:before {
  content: "";
  width: 85%;
  height: 1px;
  display: inline-block;
  background: #ccc;
  position: relative;
  top: -4px;
  margin-right: 10px;
}
/* line 131, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
section .post article {
  padding: 20px 0px;
  font-weigth: 100;
  text-align: justify;
  line-height: 1.4;
  font-size: 1.2rem;
}

/* line 138, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.clear {
  clear: both;
}
/* line 140, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.clear.shadow {
  margin-bottom: 40px;
}

/* line 143, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.field_with_errors {
  margin-bottom: 10px;
}

/* line 150, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#refresh_pin_button {
  border-radius: 8px;
  box-shadow: 0px 0px 0px 1px rgba(100, 0, 150, 0.5);
  color: black;
  padding: 10px;
  margin: 0 auto;
  width: 90px;
  margin-bottom: 3px;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  position: absolute;
  z-index: 30;
}
/* line 161, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#refresh_pin_button:hover {
  background: rgba(200, 50, 200, 0.5);
  box-shadow: none;
  color: white;
  cursor: pointer;
}

/* line 166, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#roll_map {
  position: relative;
  display: block;
  opacity: 0.1;
  width: 160%;
  -moz-transform: translateX(-18%);
  -o-transform: translateX(-18%);
  -ms-transform: translateX(-18%);
  -webkit-transform: translateX(-18%);
  transform: translateX(-18%);
  z-index: -4;
  top: -140px;
  height: 0px;
}

/* line 175, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#map_form {
  max-width: 1100px;
  margin: 0 auto;
  margin-top: 0px;
  padding: 30px 20px 0px 20px;
}

/* line 180, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#map_photo {
  position: relative;
  z-index: 1;
}
/* line 183, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
#map_photo img {
  width: 100%;
}

/* line 185, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin {
  position: absolute;
  width: 8px;
  height: 20px;
  background-image: url("/assets/flag-779757fd74712e4377476a073a6b498fca7961ee905ace292b585c5dad09bf88.png");
  z-index: 120;
  transition: 0.2s ease all;
}
/* line 192, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin:hover {
  cursor: pointer;
  -moz-transform: translateY(-2px);
  -o-transform: translateY(-2px);
  -ms-transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
  transform: translateY(-2px);
}
/* line 195, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin:hover .pin_desc {
  display: block;
  padding: 10px;
  padding-right: 30px;
  width: 150px;
  height: 65px;
  font-size: 0.9rem;
  position: relative;
  left: 5px;
  top: -72px;
  background-color: rgba(140, 89, 166, 0.9);
  color: white;
  text-decoration: none;
  z-index: 100;
}
/* line 209, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin:hover .pin_desc:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.3) white;
}
/* line 217, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin:hover .pin_desc .desc {
  width: 150px;
}
/* line 219, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin:hover .pin_desc .date {
  position: absolute;
  bottom: 5px;
  font-size: 0.7rem;
}
/* line 223, /home/enterteg/work/Blog/app/assets/stylesheets/posts.sass */
.map_pin .pin_desc {
  display: none;
}
/* line 5, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
body, html {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

/* line 10, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
body#tinymce {
  padding: 10px;
  font-size: 20px;
  font-family: times-new-roman;
  padding-top: 0px;
}

/* line 16, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
hr {
  border: none;
  border-top: 1px solid rgba(100, 0, 200, 0.1);
  margin-bottom: 60px;
}

/* line 20, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.container_mini {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px 10px;
  z-index: -10;
}

/* line 25, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.container {
  z-index: -10;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0px 10px;
}

/* line 30, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#notice {
  position: fixed;
  z-index: 999;
  top: 200px;
  line-height: 10vh;
  font-size: 3vh;
  text-align: center;
  width: 100%;
  background-color: rgba(165, 63, 132, 0.78);
  color: white;
}

/* line 40, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu {
  float: left;
  height: 80px;
  width: 100%;
}
/* line 45, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav #logo_image {
  background: url("/assets/logo-1a04112e6d10064bc77fdf902a8743346645f6bafe218177aa866b5d62e20102.png") center no-repeat;
  width: 19px;
  height: 80px;
  float: left;
  margin: 0px 15px;
}
/* line 51, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav ul {
  color: rgba(100, 20, 150, 0.5);
  padding: 0px;
  margin: 0px;
  line-height: 80px;
  float: left;
  list-style-type: none;
}
/* line 58, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav ul a {
  text-decoration: none;
}
/* line 60, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav ul a li {
  color: black;
  font-size: 1.3rem;
  display: inline;
  margin: 0px 2px;
  padding: 3px 5px;
  border-top: 0px solid white;
  -moz-transition: 0.5s border;
  -o-transition: 0.5s border;
  -ms-transition: 0.5s border;
  -webkit-transition: 0.5s border;
  transition: 0.5s border;
}
/* line 68, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav ul a li:hover {
  position: relative;
  cursor: pointer;
  border-top: 30px solid rgba(150, 0, 200, 0.1);
}
/* line 72, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .admin {
  float: right;
  line-height: 80px;
}
/* line 75, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .admin .logout {
  background: none;
  color: rgba(0, 0, 0, 0.7);
  padding: 5px;
  outline: none;
  font-weight: 100;
}
/* line 81, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .admin .logout:hover {
  color: black;
  border-bottom: 2px solid rgba(200, 50, 200, 0.5);
}
/* line 87, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .social {
  float: right;
  height: 80px;
}
/* line 90, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .social a {
  text-decoraion: none;
  color: white;
}
/* line 93, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .social img {
  display: inline-block;
  margin-left: 5px;
  width: 35px;
  height: 35px;
  opacity: 0.3;
  position: relative;
  top: 50%;
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  -moz-transition: 0.3s ease all;
  -o-transition: 0.3s ease all;
  -ms-transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transition: 0.3s ease all;
}
/* line 103, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#top_menu nav .social img:hover {
  opacity: 0.7;
}

/* line 108, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#logo_banner {
  clear: both;
  width: 100%;
  background: url("/assets/logo_banner3-f30c37df9e98896de37838ac04371dc0c580ab4e6962641a386544ca55745c80.jpg") center no-repeat;
  background-size: cover;
  height: 370px;
  color: white;
  position: relative;
}
/* line 116, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#logo_banner .banner_text {
  text-shadow: 0px 0px 15px rgba(0, 0, 0, 0.6);
  text-align: center;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -45%);
  -o-transform: translate(-50%, -45%);
  -ms-transform: translate(-50%, -45%);
  -webkit-transform: translate(-50%, -45%);
  transform: translate(-50%, -45%);
  position: absolute;
  line-height: 1.5;
}
/* line 124, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#logo_banner .banner_text .smaller {
  font-size: 3.2rem;
}
/* line 126, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#logo_banner .banner_text .smaller_more {
  font-size: 2.8rem;
}
/* line 128, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#logo_banner .banner_text .bigger {
  letter-spacing: 5px;
  font-size: 5rem;
}

/* line 133, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
#map {
  max-width: 1100px;
  margin: 50px auto 0px;
}

/* line 136, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.header {
  font-size: 3rem;
  text-align: center;
  padding: 30px 10px;
}
/* line 140, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.header.travels {
  margin-top: 80px;
}
/* line 142, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.header.heart {
  margin-top: -25px;
}
/* line 144, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.header.heart img {
  position: relative;
  top: 22px;
  left: 10px;
}

/* line 148, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.button {
  text-decoration: none;
  margin-right: 5px;
  padding: 8px 18px;
  color: #960064;
  font-size: 1.1rem;
  cursor: pointer;
  -moz-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
  transition: 0.2s ease all;
  outline: 1px solid rgba(250, 0, 100, 0.35);
}
/* line 157, /home/enterteg/work/Blog/app/assets/stylesheets/public.sass */
.button:hover {
  color: white;
  background: rgba(250, 0, 100, 0.65);
}
/* line 1, /home/enterteg/work/Blog/app/assets/stylesheets/session.sass */
#login_form {
  margin-top: 100px;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */


