=keyframes($name)
	@-webkit-keyframes $name
		@content
	@-moz-keyframes $name
		@content
	@-ms-keyframes $name
		@content
	@keyframes $name
		@content
=animation($anime)
	-webkit-animation: $anime

=transform($transforms) 
	-moz-transform: $transforms
	-o-transform: $transforms
	-ms-transform: $transforms
	-webkit-transform: $transforms
	transform: $transforms

=transition($transitions) 
	-moz-transition: $transitions
	-o-transition: $transitions
	-ms-transition: $transitions
	-webkit-transition: $transitions
	transition: $transitions
