@import 'mixins'
//--------- form styles
#new_post
	max-width: 700px
	margin: 80px auto
	ul.errors
		color: red
.edit
	float: left
	
section
	margin: 80px 0px
	.post
		max-width: 700px
		margin: 0 auto
		font-family: 'Raleway'
		header
			line-height: 1.5
			padding: 10px 50px 10px 5px
			font-size: 2.1rem
		footer
			font-size: 0.9rem
			line-height: 2
			&:before
				content: ''
				width: 80%
				height: 1px
				display: inline-block
				background: #ccc
				position: relative
				top: -4px
				margin-right: 10px
		article
			font-weigth: 100
			padding: 10px 10px
			width: 90%
			text-align: justify
			line-height: 1.4
			font-size: 1.2rem		

	
.field_with_errors
	margin-bottom: 10px

//--------- map styles



#refresh_pin_button
	border-radius: 8px
	box-shadow: 0px 0px 0px 1px rgba(100,0,150,0.5)
	color: black
	padding: 10px
	margin: 0 auto
	width: 90px
	margin-bottom: 3px
	+transition(0.2s ease all)
	position: absolute
	z-index: 20
	&:hover
		background: rgba(200,50,200,0.5)
		box-shadow: none
		color: white
		cursor: pointer
#roll_map
	position: relative
	display: block
	z-index: -1
#map_photo

	position: relative
	z-index: -1
	img
		width: 100%
.map_pin 
	position: absolute
	width: 20px
	height: 20px
	background-image: url(image_path('flag.png'))
	z-index: 10
	transition: 0.3s ease all
	&:hover
		cursor: pointer
		+transform(translateY(-2px))
