@import 'mixins'
//--------- form styles
#new_post
	max-width: 700px
	margin: 60px auto 80px
	ul.errors
		color: red
	.upload
		width: 100%
		height: 200px
		margin-top: 40px
		font-size: 1.7rem
		text-align: center
		box-shadow: 0px 0px 40px rgba(0,0,0,0.05)
		line-height: 100px
		color: black
		position: relative
		outline: 2px dashed rgba(50,50,50,0.6)
		background-image: url(image_path('photo_upload.jpg'))
		background-position: 50% 75%
		background-repeat: no-repeat 
		.attachinary-input
			position: absolute
			left: 0px
			width: 100%
			height: 200px
			cursor: pointer
			opacity: 0
			margin: 0px
		.attachinary_container
			margin-top: 140px
			ul
				margin: 0px
				padding: 0px
				list-style: none
				li
					float: left
					display: inline-block
					position: relative
					margin: 0px 10px 0px 0px
					a
						color: transparent
						text-decoration: none	
						font-size: 1rem
						position: absolute
						top: 0px
						left: 0px
						&:hover
							&:before
								background-image: url(image_path('cross.png'))
								background-position: center
								background-repeat: no-repeat
								background-size: 50%
								opacity: 1
								content: ''
								position: absolute
								width: 75px
								height: 75px
								left: 0px
								top: 0px
								background-color: rgba(0,0,0,0.5)
.edit
	margin-top: 20px
	float: left
.photos
	margin: 20px 0px
	width: 100%
	clear: both
	a
		text-decoration: none
	img
		margin: 10px 0px 10px 0px
		margin-right: 0.5%
		width: 32%
	.image
		position: relative
		float: left
		width: 24%
		margin-right: 1%
		img
			margin: 10px 0px 10px 0px
			width: 100%
		a.destroy_photo
			color: #999
			text-decoration: none
			text-align: center
			line-height: 10px
			font-family: arial
			font-weight: bold
			padding: 3px
			opacity: 0.5
			right: 5px
			top: 15px
			position: absolute
			display: block
			width: 12px
			height: 12px
			background: white
			outline: 1px solid rgba(0,0,0,0.7)
			z-index: 10
			&:hover
				opacity: 0.8
				cursor: pointer
	&.mini
		margin: 0 auto 20
		a 
			margin-right: 0.7%
			float: left
			width: 24.3%
		img
			box-shadow: 0px 0px 15px rgba(0,0,0,0.1)
			width: 100%


section
	margin: 80px 0px 200px
	z-index: -20	
	article.about
		max-width: 80%
		margin: 0 auto
		.photos
			justify-content: center
			align-items: center
			display: flex
			padding: 20px 0px

			.icon 
				height: 50px
				width: 50px
				img
					margin: 0px
					width: 100%
					height: 100%
					opacity: 0.4
					cursor: pointer
					&:hover
						opacity: 0.8

				&#gmail
					position: relative
					&:after
						opacity: 0
						content: ''
						display: block
						width: 0px
						height: 0px
						position: absolute
						bottom: -15px
						left: 15px
						border-bottom: 10px solid rgba(250,50,150,0.7)
						border-right: 10px solid transparent
						border-left: 10px solid transparent
					.mail
						opacity: 0
						color: white
						padding: 10px 20px
						font-size: 1.3rem
						position: relative
						top: 15px 
						left: -40px
						display: inline-block
						background-color: rgba(250,50,150,0.7)

					&:hover
						&:after
							opacity: 1
						.mail
							opacity: 1
			.portrait 
				width: 300px
				height: 300px
				margin: 0px 10%
				img
					width: 300px
					height: 300px
					box-shadow: 0px 0px 30px rgba(0,0,0,0.2)
					border-radius: 50%

		#map_photo
			height: 0px
			position: relative
			top: -150px
			z-index: -10
			opacity: 0.1
		.desc
			padding: 0px 10px
			font-size: 1.6rem
			line-height: 1.6
	.post
		max-width: 700px
		margin: 50px auto 80px 
		font-family: 'Raleway'
		position: relative
		&.sample
			padding: 35px 65px 0px
			max-width: 620px
			box-shadow: 0px 0px 50px rgba(0,0,0,0.05)
			z-index: 10
			&:after
				z-index: -1
				right: -50px
				top: -50px
				content: ''				
				width: 100px
				height: 100px
				background: white
				position: absolute
			&:before
				content: ""
				position: absolute
				top: -1
				right: -1
				border-width: 0 50px 50px 0
				border-style: solid
				border-color: rgba(121,203,250,0.65) white
			&.travels
				outline: 1px dashed rgba(0,253,150,0.65)
				&:before
					border-color: rgba(0,253,150,0.65) white
			&.food
				outline: 1px dashed rgba(250,53,250,0.65)
				&:before
					border-color: rgba(250,53,250,0.65) white
			&.life
				outline: 1px dashed rgba(250,150,100,0.65)
				&:before
					border-color: rgba(250,0,100,0.65) white


		header
			line-height: 1.5
			padding: 10px 5px 10px 5px
			font-size: 2.1rem
			&.sample
				font-size: 1.8rem
				line-height: 1.2
			
			
		footer
			font-size: 0.9rem
			line-height: 2
			&:before
				content: ''
				width: 85%
				height: 1px
				display: inline-block
				background: #ccc
				position: relative
				top: -4px
				margin-right: 10px
		article
			font-family: 'Roboto'
			padding: 10px 10px 10px 0px 
			font-weight: 300
			text-align: justify
			line-height: 1.4
			font-size: 1.15rem	

	.pagination
		text-align: center
		padding: 10px 0px
		font-size: 1.3rem
		span
			padding: 8px 15px
		a
			color: rgba(0,0,0,0.7)
			text-decoration: none
			padding: 8px 12px
			background-color: rgba(250,50,150,0.2)
			&:hover
				background-color: rgba(250,50,150,0.4)
		.current
			text-shadow: 0px 0px 5px rgba(0,0,0,0.2)
			color: rgba(250,250,250,0.7)
			font-weight: bold
			font-size: 1.5rem
			font-style: normal
			padding: 10px 15px
			background-color: rgba(250,50,150,0.5)
		.disabled
			color: #ccc

.clear 
	clear: both
	&.shadow
		margin-bottom: 40px

.field_with_errors
	margin-bottom: 10px

//--------- map styles



#refresh_pin_button
	border-radius: 8px
	box-shadow: 0px 0px 0px 1px rgba(100,0,150,0.5)
	color: black
	padding: 10px
	margin: 0 auto
	width: 90px
	margin-bottom: 3px
	+transition(0.2s ease all)
	position: absolute
	z-index: 30
	&:hover
		background: rgba(200,50,200,0.5)
		box-shadow: none
		color: white
		cursor: pointer
#roll_map
	position: relative
	display: block
	opacity: 0.1
	width: 160%
	+transform(translateX(-18%))
	z-index: -4
	top: -140px
	height: 0px
#map_form
	max-width: 1100px
	margin: 0 auto
	margin-top: 0px
	padding: 30px 20px 0px 20px
#map_photo
	position: relative
	z-index: 1
	img
		width: 100%
.map_pin 
	position: absolute
	width: 8px
	height: 20px
	background-image: url(image_path('flag.png'))
	z-index: 120
	transition: 0.2s ease all
	&:hover
		cursor: pointer
		+transform(translateY(-2px))
		.pin_desc
			display: block
			padding: 10px
			padding-right: 30px
			width: 150px
			height: 65px
			font-size: 0.9rem
			position: relative
			left: 5px
			top: -72px
			background-color: hsla(280,30%,50%,0.9)
			color: white
			text-decoration: none
			z-index: 100
			&:before 
				content: ""
				position: absolute
				top: 0
				right: 0
				border-width: 0 25px 25px 0
				border-style: solid
				border-color: rgba(0,0,0,0.3) white
			.desc 
				width: 150px
			.date
				position: absolute
				bottom: 5px
				font-size: 0.7rem
	.pin_desc
		display: none
