@import 'mixins'

$button-color: rgba(150,0,250,0.1)
$top_menu_height: 80px
body 
	margin: 0
	padding: 0
	font-family: 'Roboto', sans-serif
	font-size: 16px
.container
	max-width: 1000px
	margin: 0 auto
	background: white
	padding: 0px 10px
#top_menu
	float: left
	height: $top_menu_height
	width: 100%
	nav
		#logo_image
			background: url( image_path('logo.png')) center no-repeat
			width: 19px
			height: $top_menu_height
			float: left
			margin: 0px 15px
		ul
			color: rgba(250,20,250,1)
			padding: 0px
			margin: 0px
			line-height: $top_menu_height
			float: left
			list-style-type: none
			li
				color: black
				font-size: 1.3rem
				display: inline
				margin: 0px 2px
				padding: 3px 5px
				border-top: 0px solid white
				+transition(0.5s border)
				&:hover
					position: relative
					cursor: pointer
					border-top: 30px solid rgba(150,0,200,0.1)
		.admin
			float: right
			line-height: $top_menu_height
			.button
				border-radius: 7px
				margin-left: 5px
				padding: 7px 15px
				text-decoration: none
				color: #555
				+transition(0.3s ease all)
				background-color:  rgba(150,0,150,0.05)
				&:hover
					background-color: rgba(140,0,150,0.1)
					color: #333
				&.logout
					outline: none
					background-color: transparent
					padding: 0px
					font-size: 0.9e
					padding: 5px 10px
					border-bottom: 1px solid white
					&:hover
						border-bottom: 1px solid #ccc
					

		.social
			float: right
			height: $top_menu_height
			a
				text-decoraion: none
				color: white
			img
				display: inline-block
				margin-left: 5px
				width: 35px
				height: 35px
				opacity: 0.3
				position: relative
				top: 50%
				+transform(translateY(-50%))
				+transition(0.3s ease all)
				&:hover
					opacity: 0.7

section
	margin: 100px 0px
	.post
		max-width: 600px
		margin: 0 auto
		font-family: 'Raleway'
		header
			margin-left: 10px
			font-size: 2rem
		footer
			font-size: 0.9rem
			line-height: 2
			&:before
				content: ''
				width: 80%
				height: 1px
				display: inline-block
				background: #ccc
				position: relative
				top: -4px
				margin-right: 10px
		article
			
			font-weigth: 200
			padding: 15px 10px
			width: 90%
			text-align: justify
			line-height: 1.4
			font-size: 1.2rem

#logo_banner
	clear: both
	width: 100%
	background: url(image_path('logo_banner3.jpg')) center no-repeat 
	background-size: cover
	height: 370px
	color: white
	position: relative
	.banner_text
		text-shadow: 0px 0px 15px rgba(0,0,0,0.6)
		text-align: center
		left: 50%
		top: 50%
		+transform(translate(-50%, -45%))
		position: absolute
		line-height: 1.5
		.smaller
			font-size: 3.2rem
		.smaller_more
			font-size: 2.8rem
		.bigger
			letter-spacing: 5px
			font-size: 5rem


			
//--------- map styles

#refresh_pin_button
	padding: 10px
	background: #ccc
	border-radius: 4px
	float: left
	cursor: pointer
#map_photo
	float: left
	width: 50%
	position: relative
	z-index: 1
	img
		width: 100%
.map_pin 
	position: absolute
	width: 20px
	height: 20px
	background-image: url(image_path('flag.png'))
	z-index: 10
	transition: 0.3s ease all
	&:hover
		cursor: pointer
		+transform(translateY(-2px))
